.folder{
    font-size: 14px;
    line-height: 1.5;
}
.rowText{
	line-height: 1.5;
	cursor: pointer;
}
.rowText:global(.modified){
    color: #5eb3ef;
}
.rowText:global(.created){
    color: #41d445;
}
.rowText:global(.deletion){
    color: #FC8122;;
}

.treeWholeRow{
	position: absolute;
    line-height: 1.5;
    width: 100%;
    height: 23px;
    left: 0;
    color: #FFF;
    cursor: pointer;
}
.treeWholeRow:global(.active){
    background-color: rgba(26,175,93,.5);
}